
@{
    ViewData["Title"] = "Aboutus";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<h1>Trần Đình Vang-CNTT1-K61</h1>
<p>Cảm ơn thầy và các bạn đã dành thời gian theo dõi và lắng nghe ạ.</p>
<p>Em/mình rất mong nhận được sự đóng góp, nhận xét của mọi người.</p>

